{% extends "templates/partials/base.j2" %}
{% block title %}About the Project{% endblock title %}
{% block page_description %}
<meta name="description" content="About the Project">
{% endblock page_description %}

{% block content %}
<div class="container">
    <h1 class="text-center">About the Project</h1>
    <div>
        <p>This project examines the medieval reception and interpretation of the Roman conquest of Jerusalem in 70 AD by the emperors Titus and Vespasian, which ended a Jewish revolt and destroyed the Jewish Temple. This momentous episode was reported in numerous medieval texts of diverse nature, purpose and genre, including chronicles, anti-Jewish treatises, biblical commentaries and collections of sermons. Focusing on Latin texts and applying a discourse analysis, the project examines the use of the episode from the post-Roman world and early monastic exegetes (c.600) to the crusade movement and the University of Paris (c.1200). </p>
        <p>The objective of the project is to identify where, when and how the event occurs in Latin texts belonging to one of four genres introduced above. The project straddles both digitized source materials and unedited texts in medieval manuscripts . All the occurrences of the event, alongside further useful information, will be entered into a relational database and will be published eventually via the research data repository ARCHE run by the ACDH-CH as well as made available on its own website, to permit a user-friendly exploitation.</p>
        <p>The project is led by <a href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/mitarbeiterinnen/alexander-marx">Alexander Marx</a> at the Institute for Medieval Research <a href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/projekte/weitere-projekte/conquest-of-jerusalem">IMAFO</a> of the Austrian Academy of Sciences and funded by FWF ESPRIT. The Austrian Centre for Digital Humanities and Cultural Heritage <a href="https://www.oeaw.ac.at/acdh/acdh-ch-home">ACDH-CH</a> is responsible for data modelling, data managing, data archiving and for developing the database as well as the web application.</p>
    </div>


{% endblock content %}