<nav class="ps-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ model.file_name }}.html">Browse {{ model.verbose_name_pl }}</a></li>
    </ol>
</nav>