<div class="row">
    <div class="col-2 text-start">
        <a href="{{ data.prev}}">
            <i class="bi bi-chevron-left fs-2" aria-hidden="true"></i>
            <span class="visually-hidden">back to previous item</span>
        </a>
    </div>
    <div class="col-8 text-center">
        <h1>{{ label }}</h1>
    </div>

    <div class="col-2 text-end">
        <a href="{{ data.next}}">
            <i class="bi bi-chevron-right fs-2" aria-hidden="true"></i>
            <span class="visually-hidden">forward to next item</span>
        </a>
    </div>
</div>