{% extends "templates/partials/base.j2" %}
{% block title %}Browse {{ data.verbose_name_pl }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}
{% block scriptHeader %}
{% include "templates/partials/tabulator.j2" %}
{% endblock scriptHeader %}

{% block content %}
<nav class="ps-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Browse {{ data.verbose_name_pl }}</li>
    </ol>
</nav>
<div class="container">
    <h1 class="text-center">Browse {{ data.verbose_name_pl }}</h1>
    <div id="tabulator-table">
        
    </div>


{% endblock content %}

{% block scripts2 %}
<script>
const dataUrl = "data/{{ data.file_name }}.json"
const configKey = "{{ data.file_name }}"
</script>
<script type="module" src="js/tabulator.js"></script>

{% endblock scripts2 %}