{% extends "templates/partials/detail_view.j2" %}

{% block detail_view %}

<div class="alert alert-warning fs-2" role="alert">
  This is a fallback template, please create a custom template for <strong>{{ model.verbose_name_sg }}</strong>
</div>


{% endblock detail_view %}
{% block scripts2 %}
{% endblock scripts2 %}