{% extends "templates/partials/detail_view.j2" %}

{% block detail_view %} 

    <div class="d-flex pt-5 justify-content-center">
        <figure>
            <blockquote class="blockquote">
                <p>{{ data.passage }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                {% for work in data.work %}
                {% for author in work.author %}
                <a href="{{ author.jad_id }}.html">{{ author.name }}</a>
                {% endfor %}
                <cite title="{{ work.name }}"><a href="{{ work.jad_id }}.html">{{ work.name }}</a></cite>
                {% endfor %}
            </figcaption>
        </figure>
    </div>



</div>
{% endblock detail_view %}
{% block scripts2 %}
{% endblock scripts2 %}