{% extends "templates/partials/detail_view.j2" %}

{% block detail_view %}
<dl class="text-center">
    <dt>Author</dt>
    {% for x in data.author %}
    <dd><a href="{{ x.jad_id }}.html">{{ x.name }}</a></dd>
    {% endfor %}
    <dt>Genre</dt>
    <dd>{{ data.genre.value }}</dd>
    {% if data.manuscripts %}
    <dt>Date of origin</dt>
    <dd>{{ data.written_date }}</dd>
    {% endif %}
    {% if data.manuscripts %}
    <dt>manuscripts</dt>
    {% for x in data.manuscripts %}
    <dd><a href="jad_manuscript__{{ x.id }}.html">{{ x.value }}</a></dd>
    {% endfor %}
    {% endif %}
    <dt>published in</dt>
    {% for x in data.published_edition %}
    <dd>
        <a href="{{ x.digi_url }}">{{ x.name }}</a>
    </dd>
    {% endfor %}
</dl>

{% if data.related__passages %}
<div class="text-center">
    <h2>Passages</h2>
    {% for x in data.related__passages %}
    <blockquote class="blockquote">
        <p>{{ x.view_label }} <a href="{{ x.jad_id }}.html"><span class="visually-hidden">go to detail view of passage {{ x.jad_id }}</span><i class="bi bi-blockquote-left p-2" aria-hidden="true"></i></a></p>
    </blockquote>
{% endfor %}
</div>
{% endif %}
{% endblock detail_view %}
{% block scripts2 %}
{% endblock scripts2 %}